@CHARSET "ISO-8859-1";

.grey-bg {
	background: #A5A5A5;
}

.redish-bG {
	background: #DD3951;
}

.jeremy-img {
	width: 100%;
	height: auto;
	max-width: 250px;
}

.card-image {
	width: 100%;
	height: auto;
	max-width: 1000px;
}

a {
	color: white;
}

a:hover {
	color: lightgray;
	text-decoration: none;
}

h1, h3, div, b, li, p {
	font-family: "Montserrat", sans-serif;
}

.card {
	border-style: solid;
	border-top-left-radius: 20px;	
	border-bottom-right-radius: 20px;
	border-top-right-radius: 0;	
	border-bottom-left-radius: 0;
	border-bottom-width: 2px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.card-header:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 0;
}

.bottom-border {
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.ed-img {
	width: 100%;
	height: auto;
	max-width: 150px;
}

